/code/MainNominaE/nbproject/private/
/code/MainNominaE/build/
/code/MainNominaE/dist/
/code/ModuloBDConexion/nbproject/private/
/code/ModuloBDConexion/dist/
/code/ModuloBDConexion/build/
/code/ModuloLOG/nbproject/private/
/code/ModuloLOG/dist/
/code/ModuloLOG/build/